@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}


 body {
  height: 100vh;
  color: #131313;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to left, #8942a8, #ba382f); 
	width: 0%;
  
}





.modal-lg {
	max-width: 700px;
    background: #ba382f;
}

.modal-xl {
	max-width: 1000px;
    background: #131313;
}

.modal-content {
	border-radius: var(--sm-border-radius);
}

.modal-header {
	border: none;
}

.modal-body {
	overflow-x:visible;
    background: #131313;
}

.modal-title {
	font-size: 2rem;
	border-bottom: 4px solid var(--main-red-color);
    background: #ba382f;
}

.modal-footer {
	border: none;
}

#settingsModal .form-control,
#toDoModal .form-control {
	background-color: var(--form-input-bg);
	border: none;
	border-radius: var(--lg-border-radius);
}

#loggingModal .form-control {
	background-color: var(--form-input-bg);
	border-radius: var(--lg-border-radius);
}

#listOfTasks {
	line-height: 1.5em;
}

.fa-trash-alt {
	color: #6c757d;
}

.slide-away {
	opacity: 0;
	transform: translateX(20rem);
}


.log-modal-content {
	min-height: 200px;
}

.table td,
.table th {
	vertical-align: middle;
    background: #e4e0e0;
    justify-content: space-between;
}

#NoDataLoggedText,
#NoTaskTodayText {
	font-size: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #6c757d;
}

@media screen and (max-width: 400px) {
	#NoDataLoggedText {
		font-size: 7vw;
	}
}

.table th {
    background: #f5f5f5;
    justify-content: space-between;
	font-size: 1.1rem;
    margin-left: 20px;
    align-items: center;
}

.table th:nth-child(1) {
	width: 14%;
}

.table th:nth-child(2) {
	width: 12%;
}

.table th:nth-child(3) {
	width: 14%;
}

.table th:nth-child(4) {
	width: 14%;
}

.table th:nth-child(5) {
	width: 12%;
}

.table th:nth-child(6) {
	width: 22%;
}

.table th:nth-child(7) {
	width: 5%;
}
